:root {
  --branding-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --third-color: #272142;
  --heading-font: "Playfair Display", serif;
  --main-font: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: black;
}
.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}
h2 {
  font-size: 64px;
}
p {
  font-family: var(--main-font);
  color: var(--third-color);
  font-weight: 400;
}
.hero p {
  font-family: var(--main-font);
  color: var(--third-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
}
h1 {
  font-size: 96px;
}
.about-heading,
.contact-heading {
  font-size: 64px;
}
.contact-heading {
  margin: 100px;
}
.hero h2 {
  font-family: var(--main-font);
  color: var(--third-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}
.btn-branding,
.btn-mail {
  background: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 18px 30px;
}
.btn-branding:hover,
.btn-mail:hover {
  background: var(--secondary-color);
  box-shadow: 4px 4px 8px #3731b115;
  transition: all 200ms ease-in-out;
}
.page-break {
  font-family: var(--main-font);
  color: var(--third-color);
  font-size: 18px;
  font-weight: 400;
  margin: 70px;
}
img {
  max-width: 100%;
  height: auto;
}
.img-about,
.img-workpage {
  border-radius: 20px;
}
.project-description,
.about-description {
  font-size: 16px;
  opacity: 70%;
  line-height: 30px;
}
.project-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  padding: 18px 30px;
}
.project-btn:hover {
  border: solid 1px #3731b1;
  color: #3731b1;
  box-shadow: 4px 4px 8px #3731b115;
}
.row {
  margin-top: 70px;
  margin-bottom: 70px;
}
.homepage-main-block {
  margin-bottom: 180px;
}
.about-subheading {
  font-family: var(--main-font);
  color: var(--third-color);
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-description {
  margin-bottom: 40px;
}
.workpage-heading {
  font-size: 64px;
}
.workpage-project-names {
  font-family: var(--main-font);
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 9px;
}
.workpage-project-subheadings {
  font-size: 14px;
  opacity: 70%;
}
.workpage-main-body {
  padding: 40px;
  padding-bottom: 10px;
}
.logo {
  max-width: 150px;
}
.nav-link:hover,
.active {
  color: var(--secondary-color) !important;
}
.work-inquiry {
  background: var(--branding-color);
  border-radius: 20px;
  max-width: 88%;
  margin-top: 50px;
}
.inquiry-description {
  padding: 20px 100px;
  margin-top: 15px;
}
.inquiry-description h3 {
  font-size: 48px;
  margin-bottom: 30px;
}
.inquiry-description p {
  font-size: 18px;
  opacity: 70%;
}
.inquiry-button {
  padding-top: 63px;
  padding-left: 220px;
}
.email {
  font-weight: 500;
  font-size: 24px;
}
.socials {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 15%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
}
.socials li {
  background: var(--branding-color);
}
.socials a {
  color: var(--secondary-color);
}
.socials a:hover {
  color: var(--third-color);
}
@media (max-width: 600px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 22px;
    margin: auto 2px;
    line-height: 1.5;
  }
  .hero p {
    margin-bottom: 8px;
  }
  .img-homepage {
    display: none;
  }
  .row {
    margin: 0;
  }
  .page-break {
    margin-bottom: 43px;
  }
  .col-info {
    text-align: center;
  }
  .img-about {
    position: relative;
    top: 15px;
    margin-bottom: 50px;
  }
  .about-heading {
    font-size: 55px;
  }
  .workpage-heading {
    font-size: 43px;
    margin-bottom: 50px;
    text-align: center;
  }
  .workpage-project-columns {
    margin-bottom: 30px;
  }
  .homepage-main-block {
    margin-bottom: 75px;
  }
  .work-inquiry {
    background: var(--branding-color);
    border-radius: 20px;
    max-width: 88%;
    margin-bottom: 65px;
  }
  .inquiry-description {
    padding: 20px 40px;
    margin-top: 15px;
  }
  .inquiry-button {
    padding-top: 0;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .socials {
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
  }
  .contact-heading {
    margin-left: 50px;
  }
}
@media (min-width: 601px) and (max-width: 1050px) {
  .col-info {
    margin: 0 !important;
    padding: 0px !important;
    padding-left: 10px !important;
  }
  .img-homepage {
    height: 390px;
  }
  .col-info h2 {
    font-size: 50px;
  }
  .project-btn {
    font-size: 13px;
    padding: 15px 26px;
  }
  .project-description {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  .about-column {
    margin: 0 !important;
    padding: 0 !important;
    padding-right: 5px !important;
    position: relative;
    bottom: 14px;
  }
  .about-heading {
    font-size: 57px;
  }
  .inquiry-button {
    padding-top: 120px;
    padding-left: 85px;
  }
}
