:root {
  --branding-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --third-color: #272142;
  --heading-font: "Playfair Display", serif;
  --main-font: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: black;
}
.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}
h2 {
  font-size: 64px;
}
p {
  font-family: var(--main-font);
  color: var(--third-color);
  font-weight: 400;
}
.hero p {
  font-family: var(--main-font);
  color: var(--third-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
}
h1 {
  font-size: 96px;
}
.about-heading {
  font-size: 64px;
}
.hero h2 {
  font-family: var(--main-font);
  color: var(--third-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}
.btn-branding {
  background: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 18px 30px;
}
.btn-branding:hover {
  background: var(--secondary-color);
  box-shadow: 4px 4px 8px #3731b115;
}
.page-break {
  font-family: var(--main-font);
  color: var(--third-color);
  font-size: 18px;
  font-weight: 400;
  margin: 70px;
}
img {
  max-width: 100%;
  height: auto;
}
.img-about {
  border-radius: 20px;
}
.project-description,
.about-description {
  font-size: 16px;
  opacity: 70%;
  line-height: 30px;
}
.project-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  color: var(--secondary-color);
  border: solid 1px var(--secondary-color);
  padding: 18px 30px;
}
.project-btn:hover {
  border: solid 1px #3731b1;
  color: #3731b1;
  box-shadow: 4px 4px 8px #3731b115;
}
.row {
  margin-top: 70px;
  margin-bottom: 70px;
}
.about-subheading {
  font-family: var(--main-font);
  color: var(--third-color);
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-description {
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 50px;
  }
  .hero h2 {
    line-height: 1.5;
  }
  .hero p {
    margin-bottom: 10px;
  }
  .img-homepage {
    display: none;
  }
  .row {
    margin: 0;
  }
  .page-break {
    margin-bottom: 0;
  }
  .col-info {
    text-align: center;
  }
  .img-about {
    position: relative;
    top: 15px;
    margin-bottom: 50px;
  }
}
